<!DOCTYPE html>
<html>
<head>
  <title>Destruction page</title>
</head>
<body>

<h1>Delete Application</h1>

<form action="/delete_Appli" method="post">
  <div class="field">
    <label for="application">Application</label><br />
    <input id="application" name="application" size="50" type="text" />
  </div>
  
  <div class="actions">
    <input id="backup_url" name="backup_url" size="100" type="hidden" value="" />
    <input name="commit" type="submit" value="Destroy" />
    
  </div>
  
  
  <a href="/users/protected">Back</a>
</form>

</body>
</html>

