<!DOCTYPE html>
<html>
<head>
  <title>application recording page</title>
</head>
<body>

<h1> Record application <%= message %> </h1>

<form action="/applications" method="post">
  
  <div class="field">
    <label for="application_name">Application name</label><br />
    <input id="application_name" name="application_name" size="50" type="text" />
  </div>
  
  <div class="actions">
    <input id="url_redirection" name="backup_url" size="100" type="hidden" value="" />
    <input name="commit" type="submit" value="Record application" />
    
  </div>
  
  
  <a href="<%= back %>">Back</a>
  
  
</form>

</body>
</html>

