<!DOCTYPE html>
<html>
<head>
  <title>Destruction page</title>
</head>
<body>

<h1>Delete User</h1>

<form action="/s_auth/protected/delete_User" method="post">
  <div class="field">
    <label for="user">User</label><br />
    <input id="user" name="user" size="50" type="text" />
  </div>
  
  <div class="actions">
    <input id="url_redirection" name="backup_url" size="100" type="hidden" value="/s_auth/protected/list_User" />
    <input name="commit" type="submit" value="Delete" />
    
    
  </div>
  
  
  <a href="/s_auth/protected">Back</a>
</form>

</body>
</html>

